.zhuti{
    display: grid;
}
.site-header {
    display: flex !important;
    background-color: #000000;
    color: #fff;
    padding: 0;
    z-index: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-main-header);
    border-bottom: 1px solid #ffffff;
  }
  
  .site-header img {
    width: 50px;
    display: flex;
    margin: 30px 10px 0px 25px;
  }
  
  .main-navigation ul {
    list-style: none;
  }
  
  .main-navigation li {
    display: inline-block;
    margin:0 20px;
  }
  
  .main-navigation a {
    color: #fff;
    text-decoration: none;
  }

  .rounded-border {
    padding: 0;
    margin: 0 10px;
    border-left: 2px solid #fff;
    border-right:2px solid #fff;
}
.main{
    display: grid;
}
form {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  
  input[type="search"] {
    margin: 15px 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
  .sousuo-button{
    margin:15px 0 ;
    display: flex;
    color: #ffffff;
    background-color: #0056b3;
  }

  
  button:hover {
    background-color: #0056b3;
  }

html {
    font-size: 15px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
    background-color: #7fc4fc9a;
}
body {
    width: 1200px;/*width：元素的宽度*/
    height: 2000px;
    margin: 10px auto;/*margin（外边距）：是围绕元素边界外侧的空间。*/
    background-color: #ffffff;/*background-color：元素内容和内边距底下的颜色*/
    padding: 110px 30px 30px 30px;/*padding（内边距）：是指内容周围的空间。在下面的例子中，它是段落文本周围的空间。*/
    border: 2px solid black;/*border（边框）：是紧接着内边距的线。*/
}
.caidan{
    border: 2px solid #000000;
    position: fixed;
    left: 150px;
    width: 300px;
    height: 620px;
    overflow-y: auto;
}
.collapsible {
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .content {
    font-size: 15px;
    padding: 0 20px;
    display: none;
    overflow: hidden;
    font-family: "Open Sans", sans-serif;
  }
  .content p {
    margin: 10px 0;
  }
.neirong{
    display: grid;
    padding: 0 20px;
    width: 820px;
    height: 520px;
    top: 200px;
    left: 500px;
    position: absolute;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    margin-top: 2000px; /* 将页脚推到页面底部 */
}
