.zhuti{
    display: grid;
}
.site-header {
    display: flex !important;
    background-color: #000000;
    color: #fff;
    padding: 0;
    z-index: 0;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-index-main-header);
    border-bottom: 1px solid #ffffff;
    align-items: center;
  }
  
  .site-header img {
    width: 50px;
    display: flex;
    margin-left: 30px;
  }
  
  .main-navigation ul {
    list-style: none;
  }
  
  .main-navigation li {
    display: inline-block;
    margin:0 20px;
  }
  
  .main-navigation a {
    color: #fff;
    text-decoration: none;
  }

form {
  display: flex;
  justify-content: center;
  margin: 20px;
  margin-left: auto;
  margin-right: 100px;
}
  
  input[type="search"] {
    margin: 15px 15px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .collapsible {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
  .sousuo-button{
    margin:15px 0 ;
    display: flex;
    color: #ffffff;
    background-color: #0056b3;
  }

  
  button:hover {
    background-color: #0056b3;
  }

.chuangkou{
    display: flex;
}
  .caidan{
    border: 2px solid #000000;
    left: 150px;
    width: 300px;
    height: 620px;
    overflow-y: auto;
  }
    .collapsible {
      color: #000000;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
    }

      .content {
        font-size: 15px;
        padding: 0 20px;
        display: none;
        overflow: hidden;
        font-family: "Open Sans", sans-serif;
      }
      .content p {
        margin: 10px 0;
      }
  .main{
    display: flex;
  }
    .neirong{
      overflow: auto;
      padding: 0 20px;
      width: auto;
      height: 600px;
      top: 200px;
      left: 500px;
    }
html {
    font-size: 15px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
    font-family: "Open Sans", sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
    background-color: #f8f8f8;
    
}
body {
    width: 1200px;/*width：元素的宽度*/
    margin: 10px auto;/*margin（外边距）：是围绕元素边界外侧的空间。*/
    background-color: #ffffff;/*background-color：元素内容和内边距底下的颜色*/
    padding: 110px 30px 30px 30px;/*padding（内边距）：是指内容周围的空间。在下面的例子中，它是段落文本周围的空间。*/
    border: 2px solid black;/*border（边框）：是紧接着内边距的线。*/
}
.button1 {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
.article {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  display: none; /* 默认不显示 */
  transition: height 0.3s ease;
}
.article.active {
  display: block; /* 显示文章 */
  max-width: 800px;
  margin-left :10px;
}